# Abaikan semua isi folder projects
projects/*

# Izinkan Git keep folder kosong
!projects/.gitkeep

# Izinkan Git mengakses semua subfolder
!projects/*/
!projects/**/

# Track hanya Dockerfile dan docker-compose.yml dari semua subfolder
!projects/**/Dockerfile
!projects/**/docker-compose.yml

# Track semua isi dari example/
!projects/example/
!projects/example/**

# Track hanya .gitignore dari example, abaikan yang lainnya
projects/**/.gitignore
!projects/example/.gitignore

# Abaikan semua file dan folder lainnya secara eksplisit
projects/**/*
!projects/**/Dockerfile
!projects/**/docker-compose.yml
!projects/example/**
!projects/.gitkeep
