# Abaikan semua isi folder projects/
projects/*

# Kecualikan .gitkeep agar folder tetap ter-track
!projects/.gitkeep

# Izinkan Git menjelajah ke subfolder
!projects/*/
!projects/**/

# Abaikan semua file selain file khusus yang dikecualikan
projects/**/*.*   # ini akan abaikan semua *.php, *.env, *.md, *.ts, *.json, dsb

# Kecualikan kembali file penting
!projects/**/Dockerfile
!projects/**/docker-compose.yml
!projects/example/**
!projects/.gitkeep

# Abaikan semua .gitignore
projects/**/.gitignore
# Tapi izinkan milik example
!projects/example/.gitignore
