# Ignore all contents of the projects/ folder
projects/*

!projects/.gitkeep
!projects/**/.gitkeep
!projects/example/
!projects/example/**

# Exclude all subfolders so we can see their contents
!projects/*/

# Track only important files inside subfolders
!projects/**/Dockerfile
!projects/**/docker-compose.yml

# Do not track files other than those 2 files
projects/**/*
!projects/**/Dockerfile
!projects/**/docker-compose.yml

